*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: url(../images/background.png);
  background-position: center;
  background-attachment: fixed;
}
body::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(6, 105, 253, 0.2);
}

.engBox{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.eng-1{
  position: absolute;
  animation: rotateleft 5s linear infinite;
}
.eng-2{
  position: absolute;
  top: 15px;
  left: 50%;
  animation: rotateright 5s linear infinite;
}

@keyframes rotateleft {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes rotateright {
  0%{
    transform: rotate(25deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

footer{
  position: relative;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave{
  position: absolute;
  top: 0;
  width: 10000px;
  height: 100%;
  background: url(../images/wave.svg) repeat-x;
  background-position: center;
}

.wave:nth-child(1){
  animation: wave1 30s linear infinite;
}
.wave:nth-child(2){
  animation: wave2 30s linear infinite;
}
.wave:nth-child(3){
  animation: wave1 20s linear infinite;
}

@keyframes wave1{
  0%{
    background-position-x: 2000px;
  }
 
  50%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 2000px;
  }
}
@keyframes wave2{
  0%{
    background-position-x: 0;
  }
 
  50%{
    background-position-x: 2000px;
  }
  100%{
    background-position-x: 0;
  }
}
